*{
  margin: 0;
  padding: 0;
  
 
}
body {
  max-height: 100vh;
  width: 100%;
 
   box-sizing: border-box;
   font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
.app{
  height: 100vh;
  width: 980px;


}
.home{
  
   position: absolute;
   left:.4%;
}

.home ul{
  list-style-type: none;
  text-decoration: greenyellow;
 
  /* justify-content: space-around; */
}
.item{
  color:white;
}
.home ul li{
 margin: 25px;
 
 background-color:gray ;
 padding: 7px 12px;
 border-radius: 100px;
 transform: translateY(2px );
}
.home ul li:hover{
  background-color: rgb(87, 87, 209);
  box-shadow: 5px 10px #888888;
  
  
}
.card{
 display: flex;
 align-items: center;
 justify-content: center;
}
.success{
   color: rgb(22, 230, 22);
}
.danger{
  color: red;
}